.drawer{
  margin-right: 30px;
}

.div{
  display: none;
}

body {
  font-size: 16px;
  line-height: 1.6;
  color: #333;
  overflow-x: hidden;
}

.container-fluid {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 15px;
}

.ant-layout {
  background: #fff !important;
}
.ant-tooltip-inner{
  display: none;
}
.mainLayout .ant-layout-header {
  background: #fff;
  padding: 0;
  height: auto;
  line-height: 1.2;
}
/* 
header
------ 
*/


.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
 
}

.header .logo {
  font-size: 22px;
  text-transform: uppercase;
  font-weight: 400;
 
}

.header .logo .fas {
  color: #1890ff;
  margin: 0 5px 0 0;
  font-size: 28px;
}

.header .logo a {
  color: #333;
}

.header .ant-anchor-wrapper {
  background: none;
}

.header .ant-anchor {
  display: flex;
}

.header .ant-anchor-ink {
  display: none;
}

.header .ant-anchor-link {
  padding: 0 20px;
  line-height: 1.4;
  position: relative;
}

.header .ant-anchor-link:before,
.header .ant-anchor-link:after {
  content: '';
  background: #1890ff;
  width: 1px;
  position: absolute;
  top: 2px;
  bottom: 2px;
  left: 30%;
  opacity: 0;
  transition: all 0.3s linear;
}

.header .ant-anchor-link:after {
  left: auto;
  right: 30%;
}

.header .ant-anchor-link.ant-anchor-link-active:before,
.header .ant-anchor-link:hover:before {
  left: 5%;
  opacity: 1;
}

.header .ant-anchor-link.ant-anchor-link-active:after,
.header .ant-anchor-link:hover:after {
  right: 5%;
  opacity: 1;
}

/* ant menu */
.header .ant-menu {
  border: 0;
  background: none !important;
}

.header .ant-menu li.ant-menu-item {
  position: relative;
  color: rgb(134, 132, 132);
}

.header .ant-menu li.ant-menu-item:before,
.header .ant-menu li.ant-menu-item:after {
  content: '';
  background: #1890ff;
  width: 1px;
  position: absolute;
  top: 2px;
  bottom: 2px;
  left: 30%;
  opacity: 0;
  transition: all 0.3s linear;
}

.header .ant-menu li.ant-menu-item:after {
  left: auto;
  right: 30%;
}

.header .ant-menu li.ant-menu-item,
.header .ant-menu li.ant-menu-item-selected {
  border: 0 !important;
 
}
.ant-card-meta-title{
color: blue !important;
}
.ant-card-meta-description{
color:black !important;
}
.ant-card-extra{
  padding: 0px 0px !important;
  position: absolute;
  top: 0;
}
.ant-card-actions > li{
margin: 0px 0px !important;
}
.ant-card-head-wrapper{
  position: relative;
}
.ant-icon{
  display: none;
}

.anticon-shopping{
  display: none;
} 
.anticon-popover-open{
  display: none;
}
#ant-menu-item{
  margin-left: -30px;
  color: gray;
}
.cart-data{
  display:inline;
  height: '100px';
  width: '100px';
}

#ant-col{
  height:'50px';
  width:'80px';
  display: inline-block;
}
.highcharts-credits{
  display:none
}
.highcharts-background{
  display:none
}
/* .highcharts-legend-item.highcharts-column-series.highcharts-color-undefined.highcharts-series-0{
  display:none
} */
/* .ant-modal-footer-ant-btn{
  display: none;
} */
.ant-modal-footer{
  display: none;
}
.ant-modal{
  height:800px !important
}

.anticon.anticon-caret-down{
  background-color: gray;
}
#container {
  /* min-width: 310px; */
  max-width: 1000px;
  height: 400px;
  margin: 0 auto
}
.ant-select-selection {
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #fff;
  border: 1px solid #d9d9d9;
  border-top-width: 1.02px;
  border-radius: 4px;
  outline: none;
  -webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-bottom: 20px;
}
.highcharts-legend.highcharts-no-tooltip{
    margin-bottom: 500px;
}
.highcharts-legend-box{
  display: none;
}
.highcharts-title{
  margin: 20em;
  padding:40em;
}
/* .highcharts-point{
  width:30px
} */
.ant-select-selection:hover {
  border-color: #060606;
  border-right-width: 1px;


}
.ant-select-arrow svg {
  display: inline-block;
  border-left: 2px solid rgb(150, 140, 140);
  width: 20px;
  height: 32px;
  background-color: lightgray;
  margin-top: -10px;
  margin-right: -12px;
  /* margin-bottm: 150px; */

}




/* div .ant-btn{
  display:none
} */
/* text{
  display: none;
} */
/* .anticon-popover-placement-bottom{
  width: 500;
} */
/* 
responsive
----------
*/
/* .ant-table{
  margin-top: px;
} */

.ant-table-pagination.ant-pagination{
  display: none;
}
.ant-select-selection-selected-value{
  width:100px
}

  .mobileVisible {
    display: block;
  }
  /* .ant-select-arrow .ant-select-arrow-icon svg {
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;

} */
  
  .mobileHidden {
    display: none;
  }